<section class="app-header flex space-between align-center full">
    <a class="logo hover-pointer" routerLink="/">
        mister bitcoin
    </a>
    <nav class="main-nav flex" >
        <a class="hover-pointer" routerLinkActive="active" routerLink="/login">{{loginText()}}</a>
        <a class="hover-pointer" routerLinkActive="active" routerLink="/contact">Contacts List</a>
        <a class="hover-pointer" routerLinkActive="active" routerLink="/statistic">Statistic charts</a>
    </nav>
</section>
