@import '../../../assets/scss/setup/variables';

.contact-app {
    .filter {
        position: sticky;
        top: 85px;
        background-color: $clr3;
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 30px;
    }

    .add-btn {
        // position: fixed;
        // top: 90px;
        // left: 25px;
        position: fixed;
        top: 580px;
        left: 0;
        margin-left: 5%;
        // right: 0;
        // margin-right: 5%
    }

    & h1 {
        margin-bottom: 10px;
    }
}