<section class="login flex column align-center full">
    <div class="img-container mb15">
        <!-- <img class="hero" src='../../../assets/imgs/hero.jpg' /> -->
        <img class="hero" src='../../../assets/imgs/hero2.jpg' />
    </div>
    <div>
        <img src="../../../assets/icons/bitcoin.png" alt="" />
    </div>
    <form class="login-form flex column auto-center" (sumbit)="onLogin($event)">
        <input class="mb15" placeholder="username" name="name" [(ngModel)]="name" type="text" />
        <div class="btns flex auto-center">
            <button (click)="onLogin($event)" class="Login-btn">Login</button>
            <button class="signup-btn" class="Signup-btn" (click)="onSignup($event)">Signup</button>
        </div>
    </form>
    <p>{{errMsg}}</p>
</section>