@import '../../../assets/scss/setup/variables';
.login {
    .hero {
        height: 400px;
        width: 100vw;
        object-fit: cover;
    }
    & .login-form {
        & input {
            width: 100%;
            height: 40px;
            text-align: center;
            background-color: inherit;
            border: unset;
            border-bottom: 1px solid $clr4;
        }
        & .btns>* {
            background-color: $clr3 ;
            width: 150px;
            height: 40px;
            border: unset;
            &:first-child {
                margin-right: 10px;
            }
        }
    }
}