<section *ngIf="contactToEdit" class="contact-edit flex column align-center ">
    <section class="btns flex space-between">
        <a class="hover-pointer btn back-btn" (click)="backClicked()"><img src="../../../assets/icons/back.png" alt=""  /></a>
        <button *ngIf="contactToEdit._id" class="btn" (click)="remove(contactToEdit._id)"><img src="../../../assets/icons/delete.png" alt=""/></button>
    </section>
    <form class="flex column auto-center" (submit)="save($event)">
        <label>Name</label>
        <input placeholder="contact name" name="name" [(ngModel)]="contactToEdit.name" type="text" />
        <label>Email</label>
        <input placeholder="contact email" name="email" [(ngModel)]="contactToEdit.email" type="text" />
        <label>phone</label>
        <input placeholder="contact phone" name="phone" [(ngModel)]="contactToEdit.phone" type="text" />
        <button class="btn save-btn"><img src="../../../assets/icons/save.png" alt="" /></button>
    </form>
</section>
