@import '../../../assets/scss/setup/variables';

.contact-edit {
    margin: 15px 0;
    // max-width: 500px;
    .btns {
        width: 100%;
        justify-content: space-around;
        .back-btn {
            border: unset;
            background-color: unset;
        }
        margin-top: 10px;
    }
    & form {
        & input {
            width: 250px;
            height: 40px;
            text-align: center;
            background-color: inherit;
            border: unset;
            border-bottom: 1px solid $clr4;
        }
        &>* {
            margin-bottom: 10px;
        }
        & .err-msg {
            transition: .9;
        }
    }
}