.contact-details {
    .btns {
        width: 100%;
        justify-content: space-around;
        &>* {
            width: 50px;
        }
    }
    & .contact-img {
        height: 250px;
        object-fit: contain;
    }
    &>* {
        margin-bottom: 10px;
    }
    & h3 {
        display: flex;
        align-items: center;
        & img {
            width: 50px;
            margin-right: 5px;
        }
    }

}