.contact-preview {
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    &>* {
        margin-bottom: 10px;
    }
    & img {
        max-width: 200px;
        object-fit: contain;
    }
}