@font-face {
    font-family: popins-regular;
    src: url(../../font/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: popins-bold;
    src: url(../../font/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: Yellowtail-regular;
    src: url(../../font/Yellowtail/Yellowtail-Regular.ttf);
}